.smart-study {
  background-color: #251446;
  border-radius: 10px;
  padding: 20px 20px 0;
  position: absolute;
  right: 20px;
  top: 20px;
  width: 430px;
  cursor: pointer;
  transition: 0.3s;
}

.smart-study:hover {
  opacity: 0.7;
}

.smart-study h3 {
  color: #fff;
  font-size: 22px;
  margin: 0;
}

.smart-study p {
  font-size: 16px;
  color: #fff;
}

.smart-study p span button {
  float: right;
  color: #000;
  background: #fff;
  padding: 3px 20px;
  border-radius: 50px;
  margin-top: -30px;
  text-decoration: none;
}

.head-img {
  width: 40px;
}

.white-logo {
  width: 120px;
}

.ques-categories p {
  margin: 30px 0 20px;
  font-size: 18px;
  font-weight: 700;
  color: #606060;
}

.ques-detail {
  margin-top: 20px;
}

.ques-details {
  margin-top: 20px;
}

.accordion-button:not(.collapsed) {
  background-color: transparent;
}

.accordion-button {
  background-color: #fff;
  border: none !important;
  border-radius: 10px !important;
  box-shadow: none !important;
}

.accordion-item {
  background-color: #fff;
  border: 1px solid #000 !important;
  margin-bottom: 15px;
  border-radius: 10px !important;
}

.collapsed .all-questions-select span {
  background-color: #bbbbbb;
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 5px;
  /* width: 143px; */
  /* width: 121px; */
  text-align: center;
  margin-right: 10px;
}

.collapsed .all-questions-select .start-btn-cate {
  background-color: #bbbbbb;
  color: #fff;
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 5px;
  width: 135px;
  text-align: center;
  margin-right: 10px;
}

.all-questions-select span {
  background-color: #251446;
  color: #fff;
  padding: 5px 10px !important;
  font-size: 12px;
  border-radius: 5px;
  margin-right: 15px;
}

.custom {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 22px;
  cursor: pointer;
  font-size: 16px;
  line-height: 19px;
  font-weight: 600;
  color: #251446;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default checkbox */
.custom input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom checkbox */
.checkmark {
  position: absolute;
  top: 0;
  left: 0;
  height: 20px;
  width: 20px;
  background-color: #eee;
  border-radius: 3px;
}

.all-question-att .checkmark {
  top: 3px;
}

/* On mouse-over, add a grey background color */
.custom:hover input ~ .checkmark {
  background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.custom input:checked ~ .checkmark {
  background-color: #251446;
}

/* Create the checkmark/indicator (hidden when not checked) */
.checkmark:after {
  content: '';
  position: absolute;
  display: none;
}

/* Show the checkmark when checked */
.custom input:checked ~ .checkmark:after {
  display: block;
}

/* Style the checkmark/indicator */
.custom .checkmark:after {
  left: 7px;
  top: 3px;
  width: 6px;
  height: 12px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.ques-type {
  margin: 0 10px;
}

.verbal-type {
  border-radius: 10px;
  margin: 10px;
  border: 1px solid #cccccc;
}

.verbal-type ul {
  padding: 0;
  margin: 0;
}

.verbal-type ul li {
  list-style: none;
  padding: 3px 10px;
  display: flex;
  position: relative;
  z-index: 4;
  align-items: center;
}

.verbal-type ul li p,
.verbal-type ul li label {
  position: relative;
  z-index: 4;
}

/* .verbal-type ul li:before,
  .verbal-type ul li:after {
    position: absolute;
    content: "";
    width: 30%;
    height: 100%;
    background-color: #e1f7e0;
    top: 0;
    left: 0;
    z-index: 3;
    border-radius: 10px 0 0 10px;
  }
  .verbal-type ul li:after {
    background-color: #fee4e1 !important;
    width: 50% !important;
    z-index: 2;
  } */

.verbal-type .checkmark {
  background-color: #cfcfcf;
}

.verbal-type ul li p span {
  background-color: #f2f2f2;
  color: #494949;
}

.all-question-att {
  display: flex;
  width: 100%;
  align-items: center;
  position: relative;
  padding: 10px;
  border-radius: 10px;
}

.all-question-att p,
.all-question-att label {
  position: relative;
  /* padding: 3px 10px; */
  z-index: 4;
  margin-right: 0;
}
.all-question-att label {
  margin-top: -5px;
}
.all-question-att span {
  padding: 0 12px 0 8px;
}

/* .all-question-att label, .all-question-att label span{
    padding: 3px 0px 3px 5px;
  } */
.accordion-header button {
  padding: 0;
}

/* .all-question-att:before,
  .all-question-att:after {
    position: absolute;
  
    content: "";
    width: 30%;
    height: 100%;
    background-color: #e1f7e0;
    top: 0;
    left: 0;
    z-index: 3;
    border-radius: 10px 0 0 10px;
  }
  progress-color-green
  .all-question-att:after {
    background-color: #fee4e1 !important;
    width: 50% !important;
    z-index: 2;
  } */

.test-start-btn {
  margin-right: 8px;
  background-color: #251446;
  border: none;
  color: #fff;
  padding: 10px 18px;
  border-radius: 10px;
  margin-top: 8px;
  border: 1px solid #251446;
  transition: 0.3s;
}

.test-start-btn:hover {
  background-color: transparent;
  color: #251446;
}

.test-start-btn:disabled {
  background-color: #e6e6e6;
  color: #525252;
  border: 1px solid #e6e6e6;
}

.unlock_link {
  float: left;
  background-color: #3348e2;
  border: 1px solid #3348e2;
  color: #fff;
  padding: 10px 20px;
  border-radius: 10px;
  margin-right: 10px;
  transition: 0.3s;
  font-size: 18px;
  font-weight: 600;
  margin-top: 20px;
}

.unlock_link:hover {
  background-color: #ffffff;
  color: #3348e2;
}

.check-ques {
  display: contents !important;
  margin-left: 20px;
}

.question-heading {
  font-weight: 600;
  margin: 10px 0 30px;
  color: #3e3e3e;
}

.ques-detail .accordion-item {
  background-color: #fff;
  border: 1px solid #dbdbdb !important;
  margin-bottom: 15px;
  border-radius: 10px !important;
}

.ques-details .accordion-item {
  background-color: #fff;
  border: none !important;
  margin-bottom: 15px;
  border-radius: 10px !important;
}

.steps-cd {
  color: #c3c3c3;
  font-size: 16px;
  font-weight: 500;
}

.steps-cd a {
  color: #c3c3c3;
  font-size: 16px;
  font-weight: 500;
}

@media screen and (max-width: 767px) {
  .smart-study {
    display: none;
  }
}

@media screen and (max-width: 575px) {
  .flg-btn {
    width: auto;
  }
}

.free-unlock {
  width: 430px;
  margin-left: auto;
  position: absolute;
  right: 20px;
  top: 160px;
}

.border_tot_all {
  margin-bottom: 15px;
  border: 1px solid black !important;
}

.ques-secton-pro {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.ques-secton-pro .progress {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
  border-radius: 10px;
  background-color: #fff;
}

.progress-color-green {
  background-color: #e1f7e0;
  border-radius: 10px 0 0px 10px;
}

.progress-color-red {
  background-color: #fee4e1;
  border-radius: 0 10px 10px 0;
}

.progress-color-white {
  background-color: #fff;
  border-radius: 0 10px 10px 0;
}

.unlock-question {
  width: 100%;
  display: inline-block;
  margin-bottom: 12px;
}

.sec-heading {
  margin: 0;
}

.total-ques-select {
  font-size: 20px;
  display: inline-block;
  color: #251446;
  margin-top: 17px !important;
  margin-right: 10px;
}

.range-slider-ques {
  width: 80% !important;
}

.ques-apply-btr-btn {
  padding: 5px 10px;
  color: #fff;
  border-radius: 5px;
  /* margin-top: 5px; */
  background-color: #251446;
  border: 1px solid #251446;
}

.ques-apply-btr-btn:hover {
  padding: 5px 10px;
  color: #251446;
  border-radius: 5px;
  /* margin-top: 5px; */
  background-color: #fff;
  border: 1px solid #251446;
}

@media screen and (max-width: 980px) {
  .free-unlock {
    position: relative;
    top: 0;
    margin-top: 40px;
    margin-left: 0;
    left: 0;
  }
}

.test-start-btnss {
  margin-right: 30px;
  background-color: #251446;
  border: none;
  color: #fff;
  padding: 5px 18px;
  border-radius: 10px;
  margin-top: 3px;
  border: 1px solid #251446;
  transition: 0.3s;
}

.test-start-btnss:hover {
  background-color: transparent;
  color: #251446;
}

.date-type {
  padding: 10px 10px 10px 25px;
  margin-bottom: 13px;
  border-radius: 21px;
  border: 1px solid #251446;
}

.slider-div {
  display: flex;
}

.test-start-btn-save {
  margin-right: 30px;
  background-color: #251446;
  border: none;
  color: #fff;
  padding: 12px 20px;
  border-radius: 10px;
  margin-top: 8px;
  border: 1px solid #251446;
  transition: 0.3s;
}

.test-start-btn-save:hover {
  background-color: transparent;
  color: #251446;
}

@media screen and (max-width: 450px) {
  .test-start-btn-save {
    margin-right: 10px;
    background-color: #251446;
    border: none;
    color: #fff;
    padding: 5px 5px;
    border-radius: 10px;
    margin-top: 8px;
    border: 1px solid #251446;
    transition: 0.3s;
  }

  .meddic-header h1 {
    display: none;
  }
}

.quiz_note_class{
  background-image: url(/images/user-test-bg.png);
  background-size: cover;
  color: #FFFFFF;
  font-weight: 300;
}